{% extends "registration_base.html" %}
{%block additional_settings%}
<a href="{% url 'select_node' %}">
    <button type="button" class="btn btn-success">Back</button>
</a>
{%endblock%}
{%block image%}
<div id="graph"></div>
    <script>
        var data = JSON.parse('{{ data | escapejs }}');
        var currentIndex = 0;

        function plotGraph() {
            var currentData = data[currentIndex];
            var xData = Object.keys(currentData).filter(key => key !== "Value");
            var yData = xData.map(key => currentData[key]);

            var layout = {
                title: 'Device Data',
                xaxis: {title: 'Parameters'},
                yaxis: {title: 'Values'}
            };

            var trace = {
                x: xData,
                y: yData,
                type: 'bar'
            };

            var graphDiv = document.getElementById('graph');
            Plotly.newPlot(graphDiv, [trace], layout);

            currentIndex = (currentIndex + 1) % data.length;
            setTimeout(plotGraph, 3000); // 3 seconds interval
        }

        plotGraph();
    </script>
{%endblock%}
